@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://ssl.gstatic.com/docs/script/css/add-ons1.css';

body {
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 110%;
  margin-top: 44px;
}

div#content {
  margin:auto;
  width: 650px;
}
@media only screen and (max-device-width: 1024px) {
  div#content {
    width: 850px;
  }
}

table {
  margin: auto;
  font-size: 22px;
}
th, td {
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
}
button {
  font-size: 15px;
}
div#code {
  width: 100%;
  text-align: center;
}
.tab {
  position: relative;
}
.one {
  width: 50%;
  position:absolute;
  left:0px;
  margin-bottom: 20px;
}
.two {
  width: 50%;
  position:absolute;
  right:0px;
  text-align:right;
  margin-bottom: 20px;
}

@media only screen and (max-device-width: 1024px) {
  body, table, button {
    font-size: 150%;
  }
}
